#ap{
    width: 255px;
    height:255px;
}
body{
    background-color: aqua;
    text-align: center;
}
#am{
    font-style: italic;
}
#mycarousel{
    background-color: cornflowerblue;
}
#mycarousel img{
    height:300px;
    margin-top: 40px;
    }
    p{
        color: black;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 20px;
    }